body{
    background-image: url('https://www.teahub.io/photos/full/69-699627_dark-forest-wallpapers-photo-widescreen-forest-1080p-dark.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}



.h3extra{
    color: white;
    padding-top: 50px;
    padding-left: 7%;
    padding-right: 70%;
    
}

.h3xxtra{
    padding-left: 4%;
}

.title{
    color: white;
    white-space: nowrap;
    overflow: visible;
    text-align: center;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
    font-weight: bold;
  }